// color
$primary-color: #f53844;
$secondary-color : #42378f;
$muted : #a8a1a1;
$success : #4bb543;
// shadow
$main-shadow: rgba(51, 50, 50, 0.15);

// gradient
$linear-gradient : linear-gradient(315deg, #42378f 0%, #f53844 74%);