@import 'colors';

@media screen and (min-width: 992px) {
    .content-centered-page-7 {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        .row {
            align-items: center;
        }
        .card-blog {
            width: auto !important;
            height: auto !important;
        }
    }
}