@import 'colors';

@media screen and (min-width : 600px ) {

    .content-centered-page-5 {
        padding: 20px 0 !important;
        .row {
            overflow-x: hidden;
            overflow-y: hidden;
            margin: 150px 0 !important;
            margin-bottom: 5px !important;
        }
        .col-item {
           display: block; 
        }
        .col-item-flex {
            margin-top: -20px;
            display: flex;
        }
    }
    
}

@media screen and (min-width: 992px) {
    .col-item {
        display: flex !important;
        margin-top: -20px  !important;
    }
    .d-show {
        display: none !important;
    }
} 
@media only screen and (max-width: 1360px) {
    .content-centered-page-5 {
        padding: 20px 0 !important;
    }
}