@import 'colors';

@media screen and (min-width : 600px ) {

    .content-centered-page-4 {
        padding: 20px 0 !important;
        .row {
            overflow-x: scroll !important;
            overflow-y: hidden;
            margin: 150px 0 !important;
            margin-bottom: 5px !important;
        }
        .col-item {
           display: block; 
        }
    }
    
}

@media screen and (min-width: 992px) {
    .col-item {
        display: flex !important;
        margin-top: 5px  !important;
    }
} 
@media only screen and (max-width: 1360px) {
    .content-centered-page-4 {
        .row {
            .col-item {
                margin-left: -5px !important;
            }
        }
    }
}